
/* ==== FONTE IMPORTADA --> GOOGLE FONTS === */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ==== CONFIGURAÇÃO RESET DO BROWSER(NAVEGADOR) ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/* ==== VARIÁVEIS CSS ==== */

:root {
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

html, body {
    width: 100%;
    height: 100%;
}

/* ==== HEADER ==== */

header {
    width: 100%;
    height: 500px;
    background-color: var(--orange);
}

.header-conteudo {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    color: var(--blue);
    font-size: 1.7em;
    font-weight: 400;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
    gap: 20px;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--blue);
}

nav ul li a:hover {
    color: #00000083;
}

nav button {
    background-color: transparent;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    color: var(--blue);
    border: 1px solid var(--blue);
    
}

nav button:hover {
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
    transition: 0.7s;
}

.header-destaque {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 8px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.104);
    position: relative;
    z-index: 10;
}

.header-destaque img {
    width: 550px;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.header-destaque-texto {
    color: #fff;
    position: absolute;
    bottom: 150px;
    left: 90px;
}

.header-destaque-texto h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    transform: translateX(-20px);
    transition: 0.5s;
    text-align: right;
}

.header-destaque-texto p {
    max-width: 280px;
    font-size: 1.1em;
    font-weight: 400;
    transform: translate(-20px);
    transition: 0.4s;
    text-align: right;
}

/* ==== SECTION CATÁLOGO ==== */

#catalogo {
    width: 100%;
    padding: 100px;
}

.catalogo-texto {
    padding: 10px;
    margin-top: 20px;
}

.catalogo-texto p:last-child {
    font-weight: 700;
    font-size: 1.2em;
}

.conteudo-input {
    padding: 60px;
    border-radius: 8px;
    background-color: var(--gray);
    margin-top: 10px;
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input input {
    width: 700px;
    height: 50px;
    border-radius: 4px 0px 0px 4px;
    border: none;
    text-indent: 15px;
}

.search-input input::placeholder {
    font-size: 1.1em;
}

.search-input button {
    padding: 15px 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
}

.search-input button:hover {
    background-color: var(--gray);
    color: var(--blue);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.conteudo-catalogo {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card-content {
    background-color: var(--gray);
    border-radius: 8px;
    padding: 25px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-item img {
    width: 280px;
}

.card-text {
    text-align: center;
}

.card-text h4 {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.card-text p {
    color: #858585;
    max-width: 250px;
    font-size: 1.1em;
    font-style: italic;
}

.card-text button {
    width: 100%;
    height: 50px;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 12px;
    border-radius: 4px;
    border: none;
}

.card-text button:hover {
    cursor: pointer;
    background-color: var(--gray);
    color: var(--blue);
    transition: 0.5s;
}

/* ==== SECTION SOBRE ==== */

#sobre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

#sobre-wrapper {
    max-width: 1000px;
    min-width: 300px;
    background-color: var(--gray);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
}

.title-sobre {
    width: 68%;
    margin-bottom: 10px;
}

.left-content {
    background-color: #5B5B5B;
    border-radius: 8px;
}

.right-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.right-content h3 {
    text-align: right;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.right-content p {
    text-align: right;
    color: #949494;
    font-size: 1.1em;
    letter-spacing: 2px;
}