
@media screen and (min-width: 1000px) and (max-width: 1100px) {

    /* ==== section feature ==== */

    .feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    /* ==== header-destaque ====*/

    .header-destaque {
        justify-content: center;
        align-items: center;
    }

    .header-destaque img {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 450px;
    }

    .header-destaque-texto {
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-destaque-texto h2, 
    .header-destaque-texto p {

        text-align: center;
    }

    /* ==== section sobre ==== */

    .left-content {
        display: none;
    }

    #sobre-wrapper {
        justify-content: center;
        align-items: center;
    }

    .right-content h3 {
        text-align: center;
    }

    .right-content p {
        text-align: center;
    }

    /* ==== section feature ==== */
   
    .feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-card-item {
        padding: 14px;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    /* ==== header-destaque ====*/

    header nav ul li a {
        display: none;
    }

    .header-destaque {
        justify-content: center;
        align-items: center;
    }

    .header-destaque img {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 450px;
    }

    .header-destaque-texto {
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-destaque-texto h2, 
    .header-destaque-texto p {

        text-align: center;
    }

    /* ==== section catalog ==== */

    #catalogo {
        padding: 20px;
        margin-top: 100px;
    }

    .catalogo-texto {
        margin: 0;
    }

    .search-input input {
        width: 100%;
    }

    /* ==== section sobre ==== */

    .left-content {
        display: none;
    }

    #sobre-wrapper {
        justify-content: center;
        align-items: center;
    }

    .right-content h3 {
        text-align: center;
    }

    .right-content p {
        text-align: center;
    }

    /* ==== section feature ==== */
   
}

@media screen and (max-width: 600px) {
    
    /* ==== header-destaque ====*/

    header nav ul li a {
        display: none;
    }

    .header-destaque {
        justify-content: center;
        align-items: center;
    }

    .header-destaque img {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 400px;
    }

    .header-destaque-texto {
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-destaque-texto h2, 
    .header-destaque-texto p {

        text-align: center;
    }

    /* ==== section catalog ==== */

    #catalogo {
        padding: 20px;
        margin-top: 100px;
    }

    .catalogo-texto {
        margin: 0;
    }

    .conteudo-input {
        display: none;
    }

    .card-wrapper {
        margin: 0;
    }

    .card-item img {
        width: 350px;
    }

    /* ==== section sobre ==== */

    #sobre {
        padding: 0;
        margin-top: 120px;
    }

    .left-content {
        display: none;
    }

    #sobre-wrapper {
        justify-content: center;
        align-items: center;
    }

    .right-content h3 {
        text-align: center;
    }

    .right-content p {
        text-align: center;
    }

    /* ==== section feature ==== */

    #features {
        padding: 0;
        margin-top: 120px;
    }

    .feature-content {
        gap: 10px;
    }

    .feature-wrapper {
        padding: 0;
    }

    /* ==== footer ==== */
}