
@media screen and (min-width: 1000px) and (max-width: 1100px) {

    /* ==== section feature ==== */

    .feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    /* ==== header ====*/

    .header-destaque {
        justify-content: center;
        align-items: center;
    }

    .header-destaque img {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 450px;
    }

    .header-destaque-texto {
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-destaque-texto h2, 
    .header-destaque-texto p {

        text-align: center;
    }

    /* ==== section sobre ==== */

    .left-content {
        display: none;
    }

    #sobre-wrapper {
        justify-content: center;
        align-items: center;
    }


    .right-content h3 {
        text-align: center;
    }

    .right-content p {
        text-align: center;
    }

    /* ==== section feature ==== */
   
    .feature-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-card-item {
        padding: 18px;
    }
    
}

@media screen and (min-width: 615px) and (max-width: 768px) {

    /* ==== header ====*/

    header nav ul li a {
        display: none;
    }

    .header-destaque {
        justify-content: center;
        align-items: center;
    }

    .header-destaque img {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 450px;
    }

    .header-destaque-texto {
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-destaque-texto h2, 
    .header-destaque-texto p {

        text-align: center;
    }

    /* ==== section catálogo ==== */

    #catalogo {
        padding: 20px;
        margin-top: 100px;
    }

    .catalogo-texto {
        margin: 0;
    }

    .search-input input {
        width: 100%;
    }

    /* ==== section sobre ==== */

    #sobre {
        padding: 20px;
    }

    .left-content {
        display: none;
    }

    #sobre-wrapper {
        justify-content: center;
        align-items: center;
    }

    .right-content h3 {
        text-align: center;
    }

    .right-content p {
        text-align: center;
    }

}

@media screen and (max-width: 615px) {

    /* ==== header ==== */

    header {
        height: 100%;
    }

    header nav ul li a {
        display: none;
    }

    header nav ul {
        gap: 0;
        padding: 0;
    }

    .header-conteudo {
        height: 98%;
    }

    .header-destaque {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .header-destaque img {
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 90%;
    }

    .header-destaque-texto {
        position: relative;
        left: 0;
        bottom: 0;
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-destaque-texto h2 {
        transform: none;
    }

    .header-destaque-texto p {
        text-align: center;
        transform: none;
    }

    /* ==== section catálogo ==== */

    #catalogo {
        padding: 20px;
    }
   
    .search-input {
        flex-direction: column;
        gap: 20px;
    }

    .search-input input {
        width: 100%;
        border-radius: 4px;
    }

    .search-input button {
        border-radius: 4px;
    }

    .card-item img {
        width: 80%;
    }

    /* ==== section sobre ==== */

    .left-content {
        display: none;
    }

    .right-content {
        width: 100%;
    }

    .right-content h3, .right-content p {
        text-align: left;
    }

    /* ==== section feature ==== */

    #features {
        padding: 20px;
    }

    .feature-card-item {
        margin-bottom: 15px;
    }

    .feature-card-item img {
        display: none;
    }

    .feature-wrapper {
        display: block;
        padding: 0;
    }

    /* ==== footer ==== */

    footer {
        height: 70%;
        padding: 0;
    }

    .footer-content {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    main {
        height: 100%;
    }

    .footer-company,
    .footer-rental,
    .footer-social,
    .footer-contact {

        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {

    /* ==== section features ==== */
    
    #features {
        padding: 10px;
    }

    /* ===== footer ==== */

    footer {
        height: 65%;
    }

    .copy p {
        font-size: 1em;
    }

    .footer-content {
        gap: 5px;
    }
}

@media screen and (max-width: 320px) {

    /* ==== header ==== */

    header nav ul button {
        display: none;
    }

    /* ==== section catálogo ==== */

    #catalogo {
        padding: 10px;
    }

    /* ==== footer ===== */

    .footer-content {
        gap: 10px;
    }
}